.top-buffer{
    margin-top: 30px;
}
.well-image{
    width: 100%;
    height: 200px;
}
.answer{
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #bbb;
}
.answer:hover{
    cursor: pointer;
}
.image-answer{
    cursor: pointer;
    height: 350px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.image-answer img{
    width: 100%;
    height: auto;
}
.image-selected{
    border: 3px solid #56afdc;
}
.input-label{
    width: 200px;
}