<div class="jumbotron text-center">
    <h1>Contact Page</h1>

    <p>{{ message }}</p>

    <form ng-submit="submitRegistration(registrationForm)" role="form" >
        <div class="form-group">
            <label>email</label>
            <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
        </div>

        <div class="form-group">
            <label>password</label>
            <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
        </div>

        <div class="form-group">
            <label>password confirmation</label>
            <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </form>
</div>
