<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="jumbotron text-center">
            <h1>{{ 'LOGIN' | translate }}</h1>

            <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
                <div class="form-group">
                    <label>{{ 'EMAIL' | translate }}</label>
                    <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>{{ 'PASSWORD' | translate }}</label>
                    <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">{{ 'SIGN_IN' | translate }}</button>
            </form>
        </div>
    </div>
</div>
