<div class="jumbotron text-center">
    <h1>Car Page</h1>

    <p>{{ createdCar }}</p>
    <form ng-submit="submit()">
        <input type="text" ng-model="newCar.title" placeholder="Title" /><br>
        <input type="text" ng-model="newCar.price" placeholder="Price" /><br>
        <input type="text" ng-model="newCar.discount" placeholder="Discount" /><br>
        <textarea ng-model="newCar.details" placeholder="Details" ></textarea><br>
        <input ng-model="newCar.photo" type="file" ngf-select><br><br>

        <!--Single Image with validations-->
        <!--<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
             <!--ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"-->
             <!--ngf-resize="{width: 100, height: 100}">Select</div>-->

        <input type="submit" id="submit" value="Submit" />

    </form>
</div>