<div class="jumbotron text-center">
    <h1>{{ 'CAR' | translate }}</h1>

    <!--<p>{{ createdCar }}</p>-->
    <form ng-submit="submit()">
        <div class="row">
            <div class="col-md-1">
                {{ 'TITLE' | translate }}:
            </div>
            <div class="col-md-10">
                <input type="text" ng-model="car.title" placeholder="{{ 'TITLE' | translate }}" /><br>
                <div ng-repeat="titleErr in savedCar.errors.title">
                   {{ 'TITLE' | translate }}  {{ titleErr }}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                {{ 'PRICE' | translate }}:
            </div>
            <div class="col-md-10">
                <input type="text" ng-model="car.price" placeholder="{{ 'PRICE' | translate }}" /><br>
                <div ng-repeat="priceErr in savedCar.errors.price">
                    {{ 'PRICE' | translate }} {{ priceErr }}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                {{ 'DISCOUNT' | translate }}:
            </div>
            <div class="col-md-10">
                <input type="text" ng-model="car.discount" placeholder="{{ 'DISCOUNT' | translate }}" /><br>
                <div ng-repeat="discountErr in savedCar.errors.discount">
                    {{ 'DISCOUNT' | translate }} {{ discountErr }}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                {{ 'DETAILS' | translate }}:
            </div>
            <div class="col-md-10">
                <textarea ng-model="car.details" placeholder="{{ 'DETAILS' | translate }}" ></textarea><br>
                <div ng-repeat="detailsErr in savedCar.errors.details">
                    {{ 'DETAILS' | translate }} {{ detailsErr }}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                {{ 'PHOTO' | translate }}:
            </div>
            <div class="col-md-10">
                <input ng-model="car.photo" type="file" ngf-select><br><br>
                <div ng-repeat="photoErr in savedCar.errors.photo">
                    {{ 'PHOTO' | translate }} {{ photoErr }}
                </div>
            </div>
        </div>


        <input type="submit" id="submit" value="{{ 'SUBMIT' | translate }}" />

    </form>
</div>